---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { getUniqueTags } from "../../utils";
import Tags from "../../components/Tags.astro";
import { BLOG_CONFIG } from "../../consts";

const posts = await getCollection("blog", post => !post.data.hide);
const tags = getUniqueTags(posts);
---

<Layout>
  <h1>{BLOG_CONFIG.tags.title || "Tags"}</h1>
  <p>{BLOG_CONFIG.tags.description || "All the tags used in posts."}</p>
  <Tags tags={tags} />
</Layout>

<style>
  h1 {
    margin-bottom: 0;
  }
</style>
