---
import BlogPost from "../layouts/BlogPost.astro";
---

<BlogPost
  id="about"
  title="about PlainPage"
  description="A fast, text-focused, minimalist blog theme for Astro"
  pubDate={new Date("December 17 2024")}
  tags={[]}
>
  <p>
    PlainPage is a fast, text-focused, minimalist blog theme for Astro. It is
    designed to be simple and easy to use, with a focus on readability and
    performance. The theme is fully responsive and works well on all devices,
    from desktops to smartphones.
  </p>
</BlogPost>
