---
import Layout from "../layouts/Layout.astro";
import { SITE_DESCRIPTION } from "../consts";
---

<Layout>
  <div class="prose">
    <p>
      {SITE_DESCRIPTION}
    </p>
    <p>
      PlainPage is a blog template based on Astro. If you want to use it, you
      can find it on <a href="https://github.com/ChurchTao/PlainPage">Github</a
      >.
    </p>
    <p>It has the following features:</p>
    <ul>
      <li>Minimal CSS, focused on text</li>
      <li>Supports RSS subscription</li>
      <li>Supports Sitemap</li>
      <li>Supports SEO</li>
      <li>Supports Dark Mode</li>
      <li>Responsive layout</li>
    </ul>
    <p>
      Have fun, if you have any questions you can contact me at <a
        href="mailto:swkzymlyy@gmail.com">swkzymlyy@gmail.com</a
      >.
    </p>
  </div>
</Layout>
