---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import ThemeToggle from "./ThemeToggle.astro";
import IconLink from "./IconLink.astro";
import { generateURL } from "../utils";
import { NAV_ITEMS, BLOG_CONFIG } from "../consts";
---

<header>
  <a class="title" href={generateURL("/", Astro.url)}>
    <h1>{SITE_TITLE}</h1>
  </a>
  <nav>
    <p>
      {
        NAV_ITEMS.map(item => (
          <HeaderLink href={generateURL(item.link)} aria-label={item.text}>
            {item.text}
          </HeaderLink>
        ))
      }
    </p>
    <div>
      <IconLink name="RSS" href={generateURL("/rss.xml")} label="RSS" />
      {
        BLOG_CONFIG["email"] && (
          <IconLink name="Email" href={BLOG_CONFIG["email"]} label="Email" />
        )
      }
      <ThemeToggle />
    </div>
  </nav>
</header>

<style>
  nav {
    position: relative;
  }
  nav div {
    position: absolute;
    display: flex;
    right: 0;
    top: 0;
  }
</style>
