---
import { generateURL, decodeTag } from "../utils";
const { tags } = Astro.props;
type Props = {
  tags: string[];
};
---

<ul class="blog-tags">
  {
    tags.map(tag => (
      <li>
        <a href={generateURL(`/tags/${tag}/`)} transition:name={`tag-${tag}`}>
          #{decodeTag(tag)}
        </a>
      </li>
    ))
  }
</ul>

<style>
  ul.blog-tags {
    list-style-type: none;
    padding: unset;
  }
  ul.blog-tags li {
    display: inline-block;
    margin-right: 12px;
    margin-bottom: 12px;
  }
  ul.blog-tags li a:visited {
    color: var(--visited-color);
  }
  a {
    color: var(--link-color);
    cursor: pointer;
    text-decoration: none;
  }
  a {
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-offset: 4px;
  }
  a:hover {
    text-decoration: underline;
  }
</style>
